:root {
    /* Light Theme */
    --background-light: #F5F5F5;
    --darkgrey-light: #B9B9B9;
    --darkblue-light: #1F3C88;
    --black-light: #000807;
    --lightblue-light: #3258B9;
    --grey-light: #E1E1E1;
    --white-light: #F5F5F5;
    --text-light: var(--black-light);
    --box-shadow-light: rgb(0 0 0 / 40%);
    --button-light: var(--background-dark);
    --filter-light: none;
    --filter-inverse-light: var(--filter-dark);
    --text-inverse-light: var(--text-dark);
    /* Dark Theme */
    --background-dark: #191919;
    --darkgrey-dark: #484848;
    --darkblue-dark: #19358C;
    --black-dark: var(--black-light);
    --lightblue-dark: #3258B9;
    --grey-dark: #252525;
    --white-dark: #D3D3D3;
    --text-dark: var(--white-dark);
    --box-shadow-dark: rgb(255 255 255 / 40%);
    --button-dark: var(--background-light);
    --filter-dark: invert(99%) sepia(4%) saturate(755%) hue-rotate(314deg) brightness(116%) contrast(92%);
    --filter-inverse-dark: var(--filter-light);
    --text-inverse-dark: var(--text-light);
    /* Page Theme */
    --background: var(--background-light);
    --darkgrey: var(--darkgrey-light);
    --darkblue: var(--darkblue-light);
    --black: var(--black-light);
    --lightblue: var(--lightblue-light);
    --grey: var(--grey-light);
    --white: var(--white-light);
    --text: var(--black-light);
    --box-shadow: var(--box-shadow-light);
    --button: var(--button-light);
    --filter: var(--filter-light);
    --filter-inverse: var(--filter-dark);
    --text-inverse: var(--text-dark);
}

img[src*="logo"],
img[src*="nextjs"],
img[src*="flask"],
img[src*="controleeletronica"],
#github {
    filter: var(--filter);
}

*,
.school-item * {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 14px;
}

body {
    width: 100vw;
    height: 100%;
    display: grid;
    grid-template-columns: 100px auto 100px;
    grid-template-areas: "navbar main options";
    background-color: var(--background);
    transition: background-color 500ms, filter ease-in 500ms;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 600;
}

aside#sidebar {
    display: grid;
    align-content: space-between;
    grid-template-rows: 2.4rem auto 2.4rem;
    grid-template-areas: "logo" "menu" ".";
    padding: 30px 0px;
    grid-area: navbar;
    justify-content: end;
}

aside#sidebar img {
    width: 4rem;
    cursor: pointer;
    user-select: none;
}

aside#sidebar img:nth-child(1) {
    grid-area: logo;
}

aside#sidebar img:nth-child(2) {
    grid-area: menu;
}

#sidebar-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    row-gap: 4rem;
}

.sidebar-icon,
.menu-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    flex-direction: row;
    align-content: center;
    column-gap: 1rem;
}

.sidebar-icon span {
    /* font-size: 1.1rem; */
}

.sidebar-icon span:nth-child(1),
.menu-icon span {
    /* font-size: 2rem; */
}

.sidebar-icon:focus,
.menu-icon:focus {
    outline: none !important;
}

.sidebar-icon span {
    color: var(--darkgrey);
    cursor: pointer;
    user-select: none;
    transition: color 300ms, opacity 300ms;
}

.selected-item span {
    color: var(--darkblue);
}

aside#option-menu {
    grid-area: options;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    height: 6.5rem;
}

.menu-icon span {
    color: var(--text);
    cursor: pointer;
    user-select: none;
    transition: color 300ms, opacity 300ms;
}

.menu-icon span:hover,
.sidebar-icon span:hover {
    transition: color 300ms, opacity 100ms;
    opacity: 0.5;
}

#logoTopbar {
    display: none;
}

.logo-container {
    display: flex;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

main {
    grid-area: main;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

main::-webkit-scrollbar {
    display: none;
}

main section {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    min-height: 100%;
    border-bottom: 1px solid var(--grey);
    transition: border 300ms;
}

main section .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 5rem 8rem;
    row-gap: 0.5rem;
    flex: 1;
}

section h1 {
    font-size: 2.5rem;
    margin: 1.5rem 0rem;
    color: var(--text);
    font-weight: 600;
}

#profile {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#profileImg {
    width: 14rem;
    height: 14rem;
    border-radius: 50%;
    object-fit: cover;
}

#profile .social-media {
    display: flex;
    flex-direction: row;
    column-gap: 1.5rem;
}

#profile .social-media a {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#profile .social-media img {
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
}

#profile .profile-text {
    color: var(--text);
    /* font-size: 1rem; */
    text-align: justify;
    margin: 1.5rem 0rem;
}

.information-text {
    /* font-size: 1rem; */
    font-weight: 600;
    width: 70%;
    background-color: var(--grey);
    padding: 2rem 2rem;
    margin-bottom: 6rem;
    border-left: 3px solid var(--text);
    text-align: justify;
    color: var(--text);
    transition: background-color 300ms, color 300ms;
}

.programming-container {
    row-gap: 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: min-content;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: start;
    width: 95%;
}

.progress-bar-container {
    display: flex;
    flex-direction: column;
    row-gap: 0.8rem;
    width: 100%;
}

.progress-bar {
    position: relative;
    width: 100%;
    background: transparent;
    height: 1.6rem;
    border-radius: 10px;
    overflow: hidden;
}

.progress-bar span {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
}

.language-container {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    column-gap: 1.6rem;
    height: 4rem;
    width: 90%;
}

.progress-bar-title {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.progress-bar-title span {
    /* font-size: 1.1rem; */
    font-weight: 700;
}

.language-container img {
    width: 4rem;
}

.study-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    row-gap: 1rem;
    color: var(--text);
}

.scholarity,
.courses {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    column-gap: 1.5rem;
}

.scholarity h1,
.courses h1 {
    font-size: 2rem;
}

.scholarity span,
.courses span {
    font-size: 2.2rem;
}

.scholarity-container,
.courses-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: stretch;
    row-gap: 2rem;
}

.school-item-container {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    align-items: flex-start;
    cursor: pointer;
}

li {
    margin: 0.25rem 3rem;
}

.school-item-header-information {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    row-gap: 0.5rem;
}

.school-item-header h2 {
    padding: 0px;
    margin: 0px;
    /* font-size: 1.4rem; */
}

.school-item-toggle-icon {
    padding-right: 1rem;
    cursor: pointer;
    user-select: none;
}

.school-item-collapse-area {
    max-height: 0rem;
    text-align: justify;
    overflow: hidden;
    cursor: default;
    transition: 0.7s max-height ease;
}

.school-item-collapse-area p,
.school-item-collapse-area h3 {
    /* margin: 1rem 0rem; */
}

.school-item-collapse-area h3,
.professional-item-informations h3 {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    /* font-size: 1.2rem; */
}

.school-item-link {
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    column-gap: 0.5rem;
    margin-top: 2rem;
}

.school-item-link h3 {
    padding: 0;
    margin: 0;
}

.school-item-toggle-icon span {
    transition: .25s transform ease;
}

.item-active .school-item-toggle-icon span {
    transform: rotate(90deg);
}

.item-active .school-item-collapse-area {
    max-height: 30rem;
}

.school-item-header {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.school-item-header-information p {
    padding: 0px;
    margin: 0px;
}

.professional-items-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    row-gap: 3rem;
    color: var(--text);
}

.professional-item {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    text-align: justify;
}

.professional-item h2 {
    padding: 0;
    margin: 0;
}

.professional-item-header-image img {
    max-height: 3.85rem;
}

.professional-item-header-information {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    row-gap: 0.5rem;
}

.professional-item-header-information h2 {
    /* font-size: 1.5rem; */
}

.professional-item-header-information p {
    /* font-size: 1rem; */
}

.professional-item-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    column-gap: 3rem;
    row-gap: 2rem;
    flex-wrap: wrap;
}

a {
    all: unset;
    cursor: pointer;
    color: var(--darkblue);
    font-weight: bold;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: start;
    justify-items: center;
    row-gap: 5rem;
    width: 100%;
    align-content: center;
}

.project-item {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 6px 0px var(--box-shadow);
    color: var(--text);
    border-radius: 0.5rem;
    overflow: hidden;
    margin: 0rem 4rem;
    text-align: justify;
    width: 25rem;
}

.project-item-image,
.project-item-image img {
    width: 100%;
}

.project-item-content {
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-item-information {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem 2rem;
    row-gap: 1.5rem;
}

.project-item-information p {
    margin: 1rem 0rem;
}

.project-item-languages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    column-gap: 1rem;
    row-gap: 1rem;
}

.project-item-languages img {
    width: 2.5rem;
}

.project-item-button {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    background: var(--button);
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    color: var(--text-inverse);
    margin-bottom: 2.5rem;
    /* margin-top: 2rem; */
}

.project-item-button img {
    width: 2rem;
    filter: var(--filter-inverse);
}

.project-item-button span {
    /* font-size: 1.3rem; */
    font-weight: 700;
}

@media(max-width: 4240px) {
    html {
        /* font-size: 18px; */
    }
    body {
        grid-template-rows: none;
        grid-template-columns: 13rem auto 6rem;
    }
    main section .container {
        padding: 5rem 30rem;
    }
    aside#sidebar,
    aside#option-menu {
        padding: 4.5rem 0rem;
    }
    .programming-container {
        grid-template-columns: repeat(3, 1fr);
    }
    .projects-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 3200px) {
    main section .container {
        padding: 5rem 15rem;
    }
    .projects-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 2560px) {
    html {
        /* font-size: 15px; */
    }
}

@media(max-width: 1920px) {
    main section .container {
        padding: 5rem 6rem;
    }
    .projects-container,
    .programming-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .information-text {
        padding: 1.5rem 2rem;
    }
}

@media(max-width: 1440px) {
    html {
        /* font-size: 14px; */
    }
    aside#sidebar,
    aside#option-menu {
        padding: 2.5rem 0rem;
    }
    #sidebar-menu {
        row-gap: 3rem;
    }
    .professional-items-container {
        max-width: 90%;
    }
    .project-item {
        margin: 0rem 2rem;
    }
}

@media(max-width: 1200px) {
    html {
        /* font-size: 13px; */
    }
    main section .container {
        padding: 5rem 4rem;
    }
}

@media(max-width: 1024px) {
    main section .container {
        padding: 5rem 2rem;
    }
    .projects-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media(max-width: 992px) {
    main section .container {
        padding: 5rem 4rem;
    }
    body {
        grid-template-columns: none;
        grid-template-rows: 7.7rem auto 7.7rem;
        grid-template-areas: "options" "main" "navbar";
    }
    aside#sidebar {
        grid-template-areas: "logo menu .";
        grid-template-rows: 0 auto 0;
        align-content: center;
    }
    #logoNavbar {
        display: none;
    }
    #sidebar-menu {
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        width: 100vw;
    }
    aside#option-menu {
        flex-direction: row-reverse;
        justify-content: space-around;
        height: 2.4rem;
    }
    aside#option-menu #logoTopbar {
        height: 2rem;
        display: block;
    }
    .sidebar-icon span:nth-child(1) {
        /* font-size: 2.5rem; */
    }
    .sidebar-icon span:nth-child(2) {
        /* font-size: 1.25rem; */
    }
    .sidebar-icon {
        flex-direction: column;
    }
    .menu-icon span:hover,
    .sidebar-icon span:hover {
        opacity: 1;
    }
}

@media(max-width: 700px) {
    .programming-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 500px) {
    html {
        /* font-size: 12px; */
    }
    .sidebar-icon span:nth-child(1) {
        /* font-size: 2rem; */
    }
    .sidebar-icon span:nth-child(2) {
        /* font-size: 1rem; */
    }
    #profile h1 {
        /* font-size: 2.3rem; */
    }
    .programming-container {
        width: 100%;
    }
    section h1 {
        font-size: 2rem;
    }
    section h2 {
        font-size: 1.5rem;
    }
}

@media (max-width: 425px) {
    html {
        /* font-size: 11px; */
    }
    main section .container {
        padding: 5rem 2rem;
    }
    #profile .profile-text {
        margin: 1.5rem 0.5rem;
    }
    section h1 {
        font-size: 1.75rem;
    }
    section h2 {
        font-size: 1.25rem;
    }
}

@media (max-width: 375px) {
    .project-item {
        width: 20rem;
    }
}

@media (max-width: 320px) {
    .sidebar-icon span:nth-child(2) {
        font-size: 0.8rem;
    }
}