:root {
    /* Light Theme */
    --background-light: #F5F5F5;
    --darkgrey-light: #B9B9B9;
    --darkblue-light: #1F3C88;
    --black-light: #000807;
    --lightblue-light: #3258B9;
    --grey-light: #E1E1E1;
    --white-light: #F5F5F5;
    --text-light: var(--black-light);
    /* Dark Theme */
    --background-dark: #191919;
    --darkgrey-dark: #2E2E2E;
    --darkblue-dark: #19358C;
    --black-dark: var(--black-light);
    --lightblue-dark: #3258B9;
    --grey-dark: #252525;
    --white-dark: #D3D3D3;
    --text-dark: var(--white-dark);
    /* Page Theme */
    --background: var(--background-light);
    --darkgrey: var(--darkgrey-light);
    --darkblue: var(--darkblue-light);
    --black: var(--black-light);
    --lightblue: var(--lightblue-light);
    --grey: var(--grey-light);
    --white: var(--white-light);
    --text: var(--black-light);
}

html {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}

body,
html {
    margin: 0;
    padding: 0;
    font-size: 12.5px;
    height: 100%;
}

body {
    width: 100vw;
    height: 100%;
    display: grid;
    grid-template-columns: 90px auto 90px;
    grid-template-areas: "navbar main options";
    background-color: var(--background);
    transition: all 500ms;
}

aside#sidebar {
    display: grid;
    align-content: space-between;
    justify-content: center;
    grid-template-rows: 2.4rem auto 2.4rem;
    grid-template-areas: "logo" "menu" ".";
    padding: 30px;
    grid-area: navbar;
    transition: all 500ms;
}

aside#sidebar img {
    width: 4rem;
    cursor: pointer;
    user-select: none;
}

aside#sidebar img:nth-child(1) {
    grid-area: logo;
}

aside#sidebar img:nth-child(2) {
    grid-area: menu;
}

#sidebar-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 4rem;
}

.sidebar-icon,
.menu-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sidebar-icon:focus,
.menu-icon:focus {
    outline: none !important;
}

.sidebar-icon span {
    color: var(--darkgrey);
    cursor: pointer;
    user-select: none;
    transition: all 500ms;
}

.sidebar-icon span.selected-item {
    color: var(--darkblue);
}

aside#option-menu {
    grid-area: options;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 6.24rem;
    padding: 30px;
}

.menu-icon span {
    color: var(--text);
    cursor: pointer;
    user-select: none;
    transition: all 500ms;
}

.menu-icon span:hover,
.sidebar-icon span:hover {
    transition: all 100ms;
    opacity: 0.5;
}

#logoTopbar {
    display: none;
}

main {
    grid-area: main;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

main::-webkit-scrollbar {
    display: none;
}

main section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    min-height: calc(100% - 100px);
    border-bottom: 1px solid black;
}

section h1 {
    font-size: 3rem;
    margin: 2rem 0rem;
    color: var(--text);
}

#profile>img {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    object-fit: cover;
}

#profile .social-media {
    display: flex;
    flex-direction: row;
    column-gap: 1.6rem;
}

#profile .social-media img {
    width: 2.88rem;
    height: 2.88rem;
    cursor: pointer;
}

#profile .profile-text {
    color: var(--text);
    font-size: 1.3rem;
    text-align: justify;
    margin: 2rem 6.4rem 2rem;
}

#profile {
    display: none;
}

#programming {
    row-gap: 30px;
}

.progress-bar-container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.progress-bar {
    position: relative;
    width: 300px;
    background: var(--white);
    height: 20px;
    border-radius: 6px;
    overflow: hidden;
}

.progress-bar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

.language-container {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: flex-end;
    column-gap: 20px;
    height: 50px;
}

.progress-bar-title {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.progress-bar-title span {
    font-size: 1.2rem;
    font-weight: 700;
}

.language-container img {
    height: 100%;
}

.html-bar::before {
    background: #E44D26;
    width: 95%;
}

.html-bar {
    border: 1px solid #E44D26;
}

.html {
    color: #E44D26;
}

.css-bar::before {
    background: #1572B6;
    width: 85%;
}

.css-bar {
    border: 1px solid #1572B6;
}

.css {
    color: #1572B6;
}


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    body {
        grid-template-columns: none;
        grid-template-rows: 90px auto 90px;
        grid-template-areas: "options" "main" "navbar";
    }
    aside#sidebar {
        grid-template-areas: "logo menu .";
        grid-template-rows: 0 auto 0;
        align-content: center;
        padding: 30px 0px;
    }
    #logoNavbar {
        display: none;
    }
    #sidebar-menu {
        flex-direction: row;
        row-gap: 0;
        column-gap: 4rem;
    }
    aside#option-menu {
        flex-direction: row-reverse;
        height: 2.4rem;
    }
    aside#option-menu #logoTopbar {
        height: 2rem;
        display: block;
    }
    .menu-icon span:hover,
    .sidebar-icon span:hover {
        opacity: 1;
    }
    #profile .profile-text {
        font-size: 1.5rem;
        margin: 2rem 2rem 4rem;
    }
    html {
        font-size: 10px;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {}